html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}

main {
    flex-grow: 1;
}

.login-page main {
    display: flex;
    align-content: center;
}

.form-signin,
.content-center {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.invalid {
    color: red;
}
